<div class="navbar">
    <div class="logo">
        <a href="/index"><img src="/image/assets/logo.png" alt="logo" width="125px"></a>
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a href="/index">Home</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
    </nav>
    <a href="/cart"><img src="/image/assets/cart.png" width="30px" height="30px"></a>
    <small class="cart-qty">0</small>
    <img src="/image/assets/menu.png" class="menu-icon" onclick="menutoggle()">
</div>